<nav style="font-size: 40px;">Mis Libros</nav>
<header>
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['']" routerLinkActive="router-link-active"> <i class="fas fa-home"></i> Inicio</button>
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/libros']" routerLinkActive="router-link-active">Libros</button>
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/quejas']" routerLinkActive="router-link-active">Quejas</button>
</header>